node_modules
build
typechain
artifacts
cache
coverage
coverage.json
.idea
*.iml
dist/
.env
launch.json
abi/
scripts/deployment/deployments/localhost
scripts/deployment/deployments/hardhat
.VSCodeCounter/
.vscode/settings.json

tst.ts