node_modules
build
typechain
typechain-types
artifacts
cache
coverage
coverage.json
.idea
*.iml
dist/
.env
launch.json
scripts/deployment/deployments/localhost
scripts/deployment/deployments/hardhat
.VSCodeCounter/
.vscode/settings.json
tst.ts
package-lock.json
.DS_Store