artifacts
artifacts*/
audits
abi/

cache
contracts
coverage
coverage.json

lib
node_modules

Risk
scripts
test

.deploys
.states
build
typechain
typechain-types
.idea
*.iml

.env
.env.local
.env.**.local

launch.json
tsconfig.ts

.VSCodeCounter/
.vscode/settings.json

tst.ts
